{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}
{% block lead %}In the iGEM Competition, we celebrate student effort and achievement. The Attributions form helps the judges differentiate between what students accomplished from how their external collaborators supported them. Therefore, teams must clearly explain on the standard Project Attributions form what work they have conducted by themselves and what has been done by others.{% endblock %}

{% block page_content %}

<h1>
  YOU MAY IGNORE THIS PAGE
</h1>

{% endblock %}
